<div>
  <table class="table-container">
    <tr class="t-header-cotainer">
        <th class="t-header">First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <% @users.each do |e| %>
    
        <tr class="t-sub-container">
            <td>
            <%= e.first_name.capitalize %>
            </td>
            <td>
            <%= e.last_name.capitalize %>
            </td>
            <td>
            <%= e.email%>
            </td>
            <td>
            <%= link_to "More Details", root_path, class: "more-details-button"%>
            </td>
            <td>
            
            <%= link_to "Edit", edit_user_path(e), class: "btn btn-primary" %> 
            </td>   
            <td>
            <%= button_to "Delete", user_path(e),  class: "btn btn-danger", method: :delete %>
            </td>
        </tr>
    <% end %>
  </table>
</div>