<div class="designation-main-container">
  <%= render 'layouts/adminleftnav' %>
  <div class="employee-management-right-container">
    <h1 class="employees-management-heading">Employees Management</h1>
    <div class="employee-management-search-container">
      <%= link_to "Add New Employee", new_user_path,  class: "btn employee-management-add-employee-button" %>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search Employee" aria-label="Search">
        <button class="btn employee-management-search-button" type="submit">Search</button>
      </form>
    </div>
    <div>
      <table class="table-container">
        <tr class="t-header-cotainer">
            <th class="t-header">First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% @user.each do |u| %>
            <tr class="t-sub-container">
                <td>
                <%= u.first_name.capitalize %>
                </td>
                <td>
                <%= u.last_name.capitalize %>
                </td>
                <td>
                <%= u.email%>
                </td>
                <td>
                <%= link_to "More Details", user_path(u) %>
                </td>
                <td>
                
                <%= link_to "Edit", edit_user_path(u), class: "btn btn-primary" %> 
                </td>   
                <td>
                <%= button_to "Delete", user_path(u),  class: "btn btn-danger", method: :delete %>
                </td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
























