<div class="designation-main-container">
  <%= render 'layouts/adminleftnav' %>
  <div class="designation-form-main-container">
    <div class="designation-form-sub-container">
      <h1>Designations</h1>
      <%= form_with model:@designation do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_field :description, autofocus: true, autocomplete: "description" %>
      </div>
      <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

