<div class="admin-home-left-nav-container">
  <%= link_to "Leaves Management", leavesmanagement_path, class: "zensark-home-left-buttons"%>
  <%= link_to "Designation Management", designationmanagement_path, class: "zensark-home-left-buttons"%>
  <%= link_to "Employees Management", users_path, class: "zensark-home-left-buttons"%>
  <%= link_to "Holidays Management", holidays_path, class: "zensark-home-left-buttons"%>
  <%= link_to "Project Management", projectsmanagements_path, class: "zensark-home-left-buttons"%>
</div>